<p id="saludo"></p>

<table>
  <tr>
    <th>ID</th>
    <th>PRODUCTO</th>
    <th>DESCRIPCION</th>
    <th>PRECIO</th>
    <th>THUMBNAIL</th>
    <th>CATEGORIA</th>
    <th>STOCK</th>
    <th>CODE</th>
    <th>STATUS</th>
    <th>BORRAR</th>
  </tr>
  {{#each products}}
  <tr id="card">
    <td>{{this._id}}</td>
    <td>{{this.title}}</td>
    <td>{{this.description}}</td>
    <td>S./ {{this.price}}</td>
    <td><img src="/img/{{this.thumbnail}}" alt="imagen" class="img"></td>
    <td>{{this.category}}</td>
    <td>{{this.stock}} u</td>
    <td>{{this.code}}</td>
    <td>{{this.status}}</td>
    <td><button class="delete" value="{{this._id}}">❌</button></td>
  </tr>
  {{/each}}
</table>
<div class="pagination">
  <div>
  <span class="pages">Pagina {{this.page}} de {{this.totalP}}</span>
  </div>
  <div style="display: flex; margin: 25px 0px">
  {{#if hasPrev }}
    <a href="/views/products/?page={{prev}}&limit={{limit}}" class="button">Prev</a>
  {{/if}}
  {{#if hasNext }}
    <a href="/views/products/?page={{next}}&limit={{limit}}" class="button">Next</a>
  {{/if}}
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>
